<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epoch.mrs.mapper.CommentMapper">

    <resultMap id="CommentVoMap" type="com.epoch.mrs.domain.vo.CommentVo">
        <result property="username" column="username"/>
        <result property="id" column="id"/>
        <result property="content" column="content"/>
        <result property="score" column="score"/>
        <result property="createTime" column="create_time"/>
    </resultMap>

    <select id="selectCommentVoPage" resultMap="CommentVoMap" parameterType="map">
        SELECT
        u.username AS username,
        c.id,
        c.content,
        c.score,
        c.create_time
        FROM
        comments c
        JOIN
        users u ON c.user_id = u.id
        WHERE
        c.film_id = #{filmId}
        ORDER BY
        CASE WHEN c.user_id = #{currentUserId} THEN 0 ELSE 1 END, <!-- 当前用户的评论排在前面 -->
        c.create_time DESC <!-- 按时间降序 -->
        <!-- ORDER BY 和 LIMIT 由 MyBatis-Plus 分页插件注入 -->
    </select>

    <select id="getCommentIdsByFilmId" resultType="java.lang.Integer" parameterType="int">
        SELECT
            c.id
        FROM
            comments c
        WHERE
            c.film_id = #{filmId}
    </select>

</mapper>