<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.epoch.mrs.mapper.MovieMapper">

    <resultMap id="FilmListVoMap" type="com.epoch.mrs.domain.vo.FilmListVo">
        <result property="id" column="id"/>
        <result property="title" column="title"/>
        <result property="avgScore" column="avg_score"/>
        <result property="imageUrl" column="image_url"/>
    </resultMap>

    <select id="selectFilmListVoPage" resultMap="FilmListVoMap" parameterType="map"
            resultType="com.epoch.mrs.domain.vo.FilmListVo">
        SELECT
        f.id AS id,
        f.title AS title,
        f.avg_score AS avg_score,
        f.image_url AS image_url
        FROM
        films f
        <where>
            <if test="type != null and type != ''">
                f.category = #{type}
            </if>
        </where>
    </select>

</mapper>